amqp==2.2.2
billiard==3.5.0.3
celery==4.4.7
click==6.7
Flask==0.12.2
Flask-Cors==3.0.9
itsdangerous==0.24
Jinja2==2.9.6
kombu==4.1.0
pytz==2017.2
redis==3.2.0
six==1.11.0
Werkzeug==1.0.1
eventlet==0.21.0