<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="defects" style="display: none; width: 100px; height: 50px; position: fixed; top: 30%; left: 30%;">
    <input type="text" placeholder="notes" id="notes" style="width: 100px; height: 30px;">
    <input type="radio" name="defect" value="Size">Size <br>
    <input type="radio" name="defect" value="Shape">Shape <br>
    <input type="radio" name="defect" value="Mildew">Mildew <br>
    <input type="radio" name="defect" value="Green">Green <br>
    <input type="radio" name="defect" value="Decay">Decay <br>
    <input type="radio" name="defect" value="Other">Other <br>
    <button onclick="submit_defects()" style="width: 80px; height: 25px; background-color: #4285f4; margin-left: 10px;">SUBMIT</button>
</div>
<input type="text" name="title" id="name">
<input type="file" name="image" accept="image/*" capture="environment" onchange="add_file()">
<br>
<canvas id="canvas"></canvas>
</body>
<script src="{{ url_for('static', filename='plugins/jquery/jquery-3.5.1.min.js') }}"></script>
<script type="text/javascript">
    var s_x = 0;
    var s_y = 0;
    var s_w = 0;
    var s_h = 0;

    var input = document.querySelector('input[type=file]');
    input.onchange = function () {
    var file = input.files[0];
    drawOnCanvas(file);
    };

    function add_notes(x, y, w, h) {
        var defects = document.querySelector('#defects');
        defects.style.display = 'block';
        s_x = x;
        s_y = y;
        s_w = w;
        s_h = h;
    }

    function submit_defects() {
        var radio = document.getElementsByName('defect')[0];
        var notes = $('#notes').val();
        var defect = $('input[name="defect"]:checked').val();
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            url: "audit",
            data: JSON.stringify({"notes": notes, "defect": defect, "x": s_x, "y": s_y, "w": s_w, "h": s_h}),
            dataType: "json",
            success:function(response) {
                // clear notes
                document.getElementById('notes').value = "";
                $('input[type="radio"]').prop('checked', false);
                document.querySelector('#defects').style.display = 'none';
                s_x = 0;
                s_y = 0;
                s_w = 0;
                s_h = 0;
                if(response.msg=="success")
                {
                    alert("success");
                } else {
                    alert(response.msg);
                }
             },
            error:function(response) {
                alert(response.msg);
            }
        });
    }

    var canvas = document.querySelector('canvas');
    var ctx = canvas.getContext('2d');
    const rect = (() => {
      var x1, y1, x2, y2;
      var show = false;
      function fix() {
          rect.x = Math.min(x1, x2);
          rect.y = Math.min(y1, y2);
          rect.w = Math.max(x1, x2) - Math.min(x1, x2);
          rect.h = Math.max(y1, y2) - Math.min(y1, y2);
      }
      function draw(ctx) { ctx.strokeRect(this.x, this.y, this.w, this.h) }
      const rect = {x : 0, y : 0, w : 0, h : 0,  draw};
      const API = {
          restart(point) {
              x2 = x1 = point.x;
              y2 = y1 = point.y;
              fix();
              show = true;
          },
          update(point) {
              x2 = point.x;
              y2 = point.y;
              fix();
              show = true;
          },
          toRect() {
              show = false;
              console.log("start_x: ", rect.x, "start_y: ", rect.y, "w: ", rect.w, "h: ", rect.h);
              if (rect.w != 0 || rect.h != 0) {
                    add_notes(rect.x, rect.y, rect.w, rect.h);
              }
              return Object.assign({}, rect);
          },
          draw(ctx) {
              write(x2, y2);
              if (show) { rect.draw(ctx) }
          },
          show : false,
      }
      return API;
    })();

    function write(x,y){
    var text = document.getElementById("name").value;
    ctx.font = "30px Arial";
    ctx.fontColor = "white";
    ctx.fillText(text ,x,y);
    };

    var drag = false;
    var img = new Image();

    function drawOnCanvas(file) {
    var reader = new FileReader();

    reader.onload = function (e) {
      var dataURL = e.target.result;

      img.onload = function() {
        canvas.width = img.width;
        canvas.height = img.height;
        ctx.drawImage(img, 0, 0);
      };
      img.src = dataURL;
    };
    reader.readAsDataURL(file);
    }

    requestAnimationFrame(mainLoop);
    const storedRects = [];
    const storedTags = [];
    var refresh = true;

    function loadImage(url) {
      const image = new Image();
      image.src = url;
      image.onload = () => refresh = true;
      return image;
    }


    const mouse = {
      button : false,
      x : 0,
      y : 0,
      down : false,
      up : false,
      element : null,
      event(e) {
          const m = mouse;
          m.bounds = m.element.getBoundingClientRect();
          m.x = e.pageX - m.bounds.left - scrollX;
          m.y = e.pageY - m.bounds.top - scrollY;
          const prevButton = m.button;
          m.button = e.type === "mousedown" ? true : e.type === "mouseup" ? false : mouse.button;
          if (!prevButton && m.button) { m.down = true }
          if (prevButton && !m.button) { m.up = true}
      },
      start(element) {
          mouse.element = element;
          "down,up,move".split(",").forEach(name => document.addEventListener("mouse" + name, mouse.event));
      }
    }

    mouse.start(canvas);
    function draw() {
      ctx.drawImage(img, 0, 0, ctx.canvas.width, ctx.canvas.width);
      ctx.lineWidth = 3;
      ctx.strokeStyle = "#a4d6e3";
      storedRects.forEach(rect => rect.draw(ctx));
      ctx.strokeStyle = "red";
      rect.draw(ctx);
    }

    function mainLoop() {
      if (refresh || mouse.down || mouse.up || mouse.button) {
          refresh = false;
          if (mouse.down) {
              mouse.down = false;
              rect.restart(mouse);
          } else if (mouse.button) {
              rect.update(mouse);
          } else if (mouse.up) {
              mouse.up = false;
              rect.update(mouse);
              storedRects.push(rect.toRect());
          }
          draw();
      }
      requestAnimationFrame(mainLoop)
    }
</script>
</html>