<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='plugins/jquery/jquery-3.5.1.min.js') }}"></script>
    <style>
        #content {
            position: fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-40%, -40%);
            -moz-transform: translate(-40%, -40%);
            transform: translate(-40%, -40%);
        }
    </style>
    <title>req</title>
</head>
<body>
<div id="content">
    <button onclick="sub_req(0)" id="submit">pause</button>
<!--    <button onclick="sub_req(1)" id="submit">resume</button>-->
</div>

</body>
<script>
    function sub_req(operation) {
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            url: "http://127.0.0.1:9000/reqs/",
            data: JSON.stringify({'operation': operation}),
            dataType: "json",
            success: function (resp) {
                console.log(resp);
            },
            error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    }
</script>
</html>